.profile__table {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
    list-style-type: none;
}

@media(max-width: 790px) {
    .profile__table {
        align-items: center;
        max-width: 217px;
        margin-bottom: 36px;
    }
}