.profile__edit-button {
    background: #000000;
    border: solid 1px #FFFFFF;
    width: 24px;
    height: 24px;
    background-image: url(../../../images/Edit.svg);
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    margin-left: 18px;
}

.profile__edit-button:hover {
    opacity: 60%;
}

@media(max-width:600px){
    .profile__edit-button{
        position: absolute;
        margin: 0;
        width: 18px;
        height: 18px;
        top: 9px;
        right: -28px;
    }
}