.profile__edit-button {
    background: #000000;
    border: solid 1px #FFFFFF;
    height: 24px;
    width: 24px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: -42px;
    top: 16px;
}

.profile__edit-button:hover {
    opacity: 60%;
}

@media(max-width:600px){
    .profile__edit-button{
        width: 18px;
        height: 18px;
        top: 9px;
        right: -28px;
    }
}