.popup__close-button {
    position: absolute;
    top: -50px;
    right: -50px;
    background-color: black;
    border: none;
    max-width: 32px;
    padding: 0;
}

@media (max-width:320px) {
    .popup__close-button {
       right: 0;
    }
}