.container {
    max-width: 880px;
    margin: auto;
}

@media (max-width:880px) {
    .container {
        max-width: 600px;
    }
}

@media (max-width:600px) {
    .container {
        max-width: 288px;
    }
}