.profile__job {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    margin: 0;
    margin-top: 6px;
    text-overflow: ellipsis;
    max-width: 336px;
    overflow: hidden;
    white-space: nowrap; 
}

@media(max-width: 800px) {
    .profile__job {
        font-size: 14px;
        line-height: 17px;
        max-width: 217px;
        text-align: center;
    }
}